@font-face{
	font-family: 'FuturaHandwritten';
	font-style: normal;
	src: url('FuturaHandwritten.ttf') format('truetype');
}
body{
	margin:0;
	overflow: hidden;
	background: #fff;
	font-family: 'FuturaHandwritten';
	color: #333;
	font-size: 20px;
}
.wrap_nav{
	position: fixed;
	top: 0;
	height: 100%;
	width: 90px;
	right: 0;
	background: rgba(0,0,0,0.8);
}
.middle{
	position : absolute;
	top : 40%;
	left : 50%;
	transform: translate(-50% , -50%);
}
.txCenter{
	text-align: center;
}
.center {
	margin : auto;
}
.right{
	float: right;
}
.button {
	width: 200px;
	height: auto;
	border: solid;
	background: #000;
	color: #FFF;
}
.AnimationFrame{
	width : 500px;
	height : 500px;
	border: dashed;
}

.loading{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 999;
}